.DS_Store
.cache/
.coverage*
.python-version
.lint-*
.projectile
.pyenv
.tox
.idea
*.egg-info/
*.pyc
*.so
*.cov2emacs.log
EGG-INFO/
GPATH
GRTAGS
GTAGS
build/
dist/

# sphinx - read the docs needs these files, or I don't know how to make it work. :(
# doc/source/api/